<%- include("header.ejs") %>

<style>
  #followingNavbar {
    display: block;
    position: fixed;
    top: 0;
  }

  #topNavbar {
    display: none;
  }
</style>

<!-- A place to sharpen your mind and to measure growth in knowledge, abilities, and/or skills.
        Quiz Town creates an atmosphere for mind sport wherein the players, either as individuals or in teams attempt
        to answer questions. -->

<h2 id="about-h">About Us</h2>

<div class="about-section">

  <div class="aboutImg">
    <img style="height: 100%;border-radius: 10px;" src="images/about.jpg" alt="about">
  </div>

  <div>
    <div class="content" style="font-size: 1.8rem;padding: 20px 45px;">
      <h3>We Are QuizTown</h3>
      <p>We adore quality quizzes and provide you the same so that you enjoy your time to its fullest, and enhance
        your thinking and interpretation skills.
        We at QuizTown are enthusiastic about presenting world class quizzes and trivias to you.
      </p>
    </div>
  </div>

</div>

<div class="about-section">

  <div class="aboutImg">
    <img style="height: 100%;border-radius: 10px;" src="images/woman-son.jpg" alt="about">
  </div>

  <div>
    <div class="content" style="font-size: 1.8rem;padding: 20px 45px;">
      <h3>Trivia Enthusiasts</h3>
      <p>We rule the heart of our users with our fascinating trivias and brain-storming quizzes.
        We are Trivia enthusiasts!
        Navigate the adventurous town of quizzes with us-QuizTown!
      </p>
    </div>
  </div>

</div>


<section id="team">
  <p>Meet our small,But Amazing team</p>
  <h1 class="mh">The minds behind Quiz Town</h1>

  <section class="team-section">
    <div class="container">

      <div class="row myRow">
        <div class="team-box" style="margin: 0 auto;">
          <div class="inner-box">
            <div class="image-box">
              <div class="img">
                <img src="https://bit.ly/2JieeMT" alt="team" />
                <!-- social icons -->
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/me-harshit/" target="_blank"><i class="ri-linkedin-fill"></i></a>
                  <a href="https://github.com/me-harshit" target="_blank"><i class="ri-github-fill"></i></a>
                </div>
                <!-- social icons ends-->
              </div>
            </div>
            <div class="caption-text">
              <a href="https://meharshit.xyz" target="_blank" class="memberName">
                <h4>Harshit Sharma</h4>
              </a>
              <p style="font-size: 1.3rem;">Web Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div id="text-team">
        <p>And many more to join...</p>
      </div>
  </section>

</section>


<%- include("footer.ejs") %>