<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">QuizTown</h5>
          <p class="grey-text text-lighten-4">We at QuizTown are enthusiastic about presenting world class quizzes and trivias to you.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul id="hoverUnderline">
            <li><a class="grey-text text-lighten-3" href="/feedback">Feedback</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="/contact">Contact Us</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright  &nbsp; &nbsp;www.QuizTown.com &nbsp;| &nbsp;All rights reserved!
      <a class="grey-text text-lighten-4 right" style="text-align: center;" href="https://meharshit.xyz" target="_blank">Founder</a>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  </script>

</body>

</html>
